*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.splide__slide img {
    width: 100%;
    height: automático;
  }

.main{
background-image: url(./assets/img/index.jpg);
background-position: center;
background-repeat: no-repeat;
}

.h1{

    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-display: initial;
}
